body {
    height: 600px;
}

#page-wrapper{
    height: 900px;
}

#mapaDePiso1 {  
    width : 700px; 
    height: 500px;
}

#mapaDePiso1 {  
    width : 500px; 
       
}

.img-responsive{
    width: 100%;
    height: 100%;
}

#btnAula1 {
    position: absolute;
    left: 17px;
    bottom: 185px;
    width: 149px;
    height: 110px;
}

#mapaDePiso1{
    position: relative;
    background-image: url("../img/Laboratorio1.png");
}

#btnAula1 {
    position: relative;
    
}

#btnAula2 {
    position: absolute;
    left: 162px;
    bottom:185px;
    width: 149px;
    height: 110px;
}

#btnAula3 {
    position: absolute;
    left: 316px;
    bottom:185px;
    width: 149px;
    height: 110px;
}
#btnAula4 {
    position: absolute;
    left: 57px;
    bottom:25px;
    width: 149px;
    height: 110px;
}

#btnAula5 {
    position: absolute;
    left: 178px;
    bottom:25px;
    width: 149px;
    height: 110px;
}

#btnAula6 {
    position:relative;
    width: 500px;
    height: 50px;
}
.PanelMapa {
    
}

.PanelMapa img{
    height: 100px;
    width: 500px;
}

.panel-default{
    height: 500px;
}

