<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ComportamientoClienteHtml">
          <!-- <webHttp/> -->
          <webHttp defaultOutgoingResponseFormat="Json" defaultBodyStyle="WrappedRequest" /> 
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="bindingClienteEscritorio"></binding>        
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="bindingClienteHtml"></binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="libraryServicesLaboratorio.Service1">
        <!-- <endpoint address="" binding="basicHttpBinding" bindingConfiguration="bindingClienteEscritorio" contract="libraryServicesLaboratorio.IService1"></endpoint> -->
         <endpoint address="" binding="webHttpBinding" bindingConfiguration="bindingClienteHtml" behaviorConfiguration="ComportamientoClienteHtml" contract="libraryServicesLaboratorio.IService1"></endpoint> 
      </service>
    </services>
       
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>